body {
    background-color: grey;
}
/*This is the css for the DIV and inside DIV*/
div {
    background-color: lightgrey;
    position: absolute;
    width: 99%;
    height: calc(100% - 110px);
    overflow-y: scroll;

}
/*This is the CSS in the footer*/
footer {
    position: absolute;
    width: 99%;
    height: 100px;
    bottom: 0;
    overflow: hidden;
}
#bottomcontrols {
    float: right;
   
}
h2 {
    display: inline;
}